
.nav{
  background-color: #2b2eff;
  height: 10vh;
  text-align: center;
  color: white;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.ntext{
  cursor: pointer;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,minmax(25vw,1fr));
  grid-template-rows: repeat(2,minmax(30vh,1fr));
  gap: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.headline{
  cursor: pointer;
  border: 1px solid #2b2eff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.6s ease-in-out;
  padding: 60px 0;
  margin: 2.5rem ;
}

.headline:hover{
  animation: myAnim 2s ease 0s 1 normal forwards;
  color: black;
  background-color: white;
}


@keyframes myAnim {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

@media (max-width: 800px) {

  .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 2rem auto;
        gap: 30px;
    
  }
  
 
}

